@charset "ISO-8859-1";

.btn{
	text-decoration:none;
	padding:10px;
	border-radius:5px;
}

#eliminar{
	color:white;
	background-color:red;
}

#modificar{
	color:black;
	background-color:yellow;
}

.btnCookies{
	padding:10px 15px 10px 15px;
	background:black;
	color:white;
}

.btnCookies:hover{
	background:white;
	color:black;
}