@charset "ISO-8859-1";

body {
	margin: 0px; /*margen arriba derecha abajo izqueirda*/
}

.blg {
	text-align: center; /**/
}

#blg1 {
	margin-top: 10px; /*margen arriba*/
}

#blg2 {
	margin: 30px 20px 0px 20px;
	/* /*margen arriba derecha abajo izqueirda*/
}

#blg3 {
	margin: -20px 150px 0px 150px;
	/* /*margen arriba derecha abajo izqueirda*/
}

#blg4 {
	text-align: justify; /*tipo justificado*/
	margin: 20px 50px 0px 50px; /*margen arriba derecha abajo izqueirda*/
}

#blg5 {
	margin-top: 30px; /*margen arriba */
}

#textoNorris {
	margin-top: 100px; /*margen arriba */
}

.contenedor {
	position: relative;
	/*no esta en su posicion normal, pasa por encima de los demás elementos*/
	margin-top: -50px; /*margen arriba*/
	padding: 35px; /*relleno arriba derecha abajo izquierda*/
	background: #c0c0c0; /*fondo color*/
}