@charset "ISO-8859-1";

body {
	margin: 0px;
}

#part1 {
	background: url('http://localhost/img/DWES/p1/sports1.jpg');
	align-items: center;
	background-position: center;
	background-size: cover;
	height: 600px;
}

.col1 {
	margin-left: 10px; /* margen */
	margin-right: 10px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: black;
	text-decoration-color: black;
}

h2 {
	font-size: 33px;
}

h3 {
	font-size: 25px;
	margin-top: -30px;
}

.col2 p {
	margin-left: 20px; /* margen */
	margin-right: 20px;
	padding-top: 10px;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	text-align: center;
	color: black;
	text-decoration-color: black;
}

.colInterior {
	margin-top: 1em;
	margin-left: 0; /* margen */
	margin-right: 0;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height:300px;
}

#img3{
	background: url('http://localhost/img/DWES/p1/marchas.jpeg');
}

#img4{
	background: url('http://localhost/img/DWES/p1/asientos.jpeg');
}

#img5{
	background: url('http://localhost/img/DWES/p1/volante.jpeg');
}

#img6{
	background: url('http://localhost/img/DWES/p1/dentroCoche.jpeg');
}

.col3456 h3, h4 {
	margin-left: 10px;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	text-align: left;
	color: white;
	text-decoration-color: white;
}

.col7 h2 {
	margin-left: 10px; /* margen */
	margin-right: 10px;
	padding-top: 50px;
	font-family: 'Playfair Display', serif;
	font-size: 33px;
	text-align: center;
	color: black;
	text-decoration-color: black;
}

.colExterior{
	margin-top: 1em;
    margin-left: 1em; /* margen */
    margin-right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.colExterior h2{
    padding-top: 350px;
    color: white;
    text-decoration-color: white;
}
.colExterior p{
    padding-top: 10px;
    color: white;
    text-decoration-color: white;
}

#exterior1{
	  background-image: url("http://localhost/img/DWES/p1/coche2018.jpeg");
}

#exterior2{
	 background-image: url("http://localhost/img/DWES/p1/cocheRueda.jpeg");
}

#exterior3{
	 background-image: url("http://localhost/img/DWES/p1/cocheParteTrasera.jpeg");
}

