@charset "ISO-8859-1";

.site-footer {
	background-color: #26272b; /**/
	padding: 25px 0 20px; /**/
	font-size: 15px; /**/
	line-height: 24px; /**/
	color: #737373; /**/
	margin-top: 20px; /**/
}

.site-footer hr {
	border-top-color: #bbb;/**/
	opacity: 0.5;/**/
}

.site-footer h6 {
	color: #fff;/**/
	font-size: 16px;/**/
	text-transform: uppercase;/**/
	margin-top: 5px;/**/
	letter-spacing: 2px/**/
}

.site-footer a {
	color: #737373; /**/
}

.site-footer a:hover {
	color: #ff8080;/**/
	text-decoration: none;/**/
}

.footer-links {
	list-style: none;/*queita el estilo de lista*/
	margin: 0px;/*margen arriba derecha abajo izqueirda*/
}

.footer-links li {
	display: block;/*posicion en bloque*/
}

.footer-links a {
	color: #737373;/*color texto*/
}

/*cuando pasa por encima , pincha o entra*/
.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
	color: #ff0000;/*color texto*/
	text-decoration: none;/*quieta la decoracion de la url*/
}


.copyright-text {
	margin: 0;/*margen arriba derecha abajo izquierda*/
}

.columnFooter {
	text-align: left;/*posicion izquierda*/
	margin: 30px;/*margen arriba derecha abajo izquierda*/
}

#logoFooter {
	text-align: center;/**/
	margin-right: 30px;/*margen  derecha  */
}

#imgLogoFooter {
	margin-top: 30px;/*margen arriba   */
}