@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box; /**/
}

.center {
	position: absolute; /**/
	top: 50%; /**/
	left: 50%; /**/
	transform: translate(-50%, -50%); /**/
}

.center button {
	padding: 10px 20px; /*relleno arriba dercaha*/
	font-size: 15px; /*tamaño de letra*/
	font-weight: 600; /**/
	color: #222; /*color*/
	background: #f5f5f5; /*color de fondo*/
	border: none; /*sin borde*/
	outline: none; /*liena fuera*/
	cursor: pointer; /*tipo de raton*/
	border-radius: 5px; /*borde circular*/
}

.popup {
	position: absolute; /**/
	top: -150%; /**/
	left: 50%; /**/
	opacity: 0; /**/
	transform: translate(-50%, -50%) scale(1.25); /**/
	width: 380px; /*ancho*/
	padding: 20px 30px; /*relleno*/
	background: #fff; /*color de fondo*/
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15); /*sombra*/
	border-radius: 10px; /*borde circula*/
	transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
		transform 200ms ease-in-out 0ms; /**/
}

.popup.active {
	top: 50%; /**/
	opacity: 1; /*opacidad*/
	transform: translate(-50%, -50%) scale(1); /**/
	transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
		transform 200ms ease-in-out 0ms; /**/
}

.popup .close-btn {
	position: absolute; /**/
	top: 10px; /**/
	right: 10px; /**/
	width: 15px; /*acho*/
	height: 15px; /*alto*/
	background: #888; /*color de fondo*/
	color: #eee; /*color*/
	text-align: center; /*centrado*/
	line-height: 15px; /*liena alto*/
	border-radius: 15px; /*borde circular*/
	cursor: pointer; /*raton*/
}

.popup .form h2 {
	text-align: center; /*centrado*/
	color: #222; /*color*/
	margin: 10px 0px 20px; /*margen arriba derceha abajo*/
	font-size: 25px; /*tamaño de letra*/
}

.popup .form .form-element {
	margin: 15px 0px; /*margin arriba y dercha*/
}

.popup .form .form-element label {
	font-size: 14px; /*tamaño de letra*/
	color: #222; /*color*/
}

.popup .form .form-element input[type="text"], .popup .form .form-element input[type="password"]
	{
	margin-top: 5px; /*margen arriba*/
	display: block; /*en bloque*/
	width: 100%; /*ancho*/
	padding: 10px; /*relleno*/
	outline: none; /*sin linea de fuera*/
	border: 1px solid #aaa; /* borde linea 1px*/
	border-radius: 5px; /*borde circular*/
}

.popup .form .form-element button {
	width: 100%; /*ancho*/
	height: 40px; /*alto*/
	border: none; /*sin borde*/
	outline: none; /*sin linea de fuera*/
	font-size: 16px; /*tamaño de letra*/
	background: #222; /*color de fondo*/
	color: #f5f5f5; /*color*/
	border-radius: 10px; /*borde circular*/
	cursor: pointer; /*cambia el tipo de la flecha del raton*/
}