<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ClienteController</display-name>
    <servlet-name>ClienteController</servlet-name>
    <servlet-class>imf.garaje.controllers.ClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteController</servlet-name>
    <url-pattern>/ClienteController</url-pattern>
  </servlet-mapping>
  <display-name>P1JSPdefinitiva</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ModeloController</display-name>
    <servlet-name>ModeloController</servlet-name>
    <servlet-class>imf.garaje.controllers.ModeloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModeloController</servlet-name>
    <url-pattern>/ModeloController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarcaController</display-name>
    <servlet-name>MarcaController</servlet-name>
    <servlet-class>imf.garaje.controllers.MarcaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarcaController</servlet-name>
    <url-pattern>/MarcaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthController</display-name>
    <servlet-name>AuthController</servlet-name>
    <servlet-class>imf.garaje.controllers.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthController</servlet-name>
    <url-pattern>/AuthController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>imf.garaje.controllers.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuxController</display-name>
    <servlet-name>AuxController</servlet-name>
    <servlet-class>imf.garaje.controllers.AuxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuxController</servlet-name>
    <url-pattern>/AuxController</url-pattern>
  </servlet-mapping>
</web-app>